@font-face {
  font-family:"Arimo Regular";
  src:url("../../fonts/Arimo-Regular.html") format("truetype");
}

@font-face {
  font-family:"Arimo Italic";
  src:url("../../fonts/Arimo-Italic.html") format("truetype");
}

@font-face {
  font-family:"Arimo Bold";
  src:url("../../fonts/Arimo-Bold.html") format("truetype");
}

@font-face {
  font-family:"Amatic Bold";
  src:url("../../fonts/Amatic%20Bold.html") format("truetype");
}

@font-face {
  font-family:"Amatic Regular";
  src:url("../../fonts/Amatic%20Regular.html") format("truetype");
}

@font-face {
  font-family:"Dancing Script Regular";
  src:url("../../fonts/DancingScript-Regular.html") format("truetype");
}

@font-face {
  font-family:"Arial Bold";
  src:url("../../fonts/Arial-Bold.html") format("truetype");
}

@font-face {
  font-family:"Arimo BoldItalic";
  src:url("../../fonts/Arimo-BoldItalic.html") format("truetype");
}

@font-face {
  font-family:"Dancing Script Bold";
  src:url("../../fonts/DancingScript-Bold.html") format("truetype");
}

@font-face {
  font-family:"Indie Flower Regular";
  src:url("../../fonts/IndieFlower-Regular.html") format("truetype");
}

@font-face {
  font-family:"Monoton Regular";
  src:url("../../fonts/Monoton-Regular.html") format("truetype");
}

@font-face {
  font-family:"Passion One Regular";
  src:url("../../fonts/PassionOne-Regular.html") format("truetype");
}

@font-face {
  font-family:"Passion One Bold";
  src:url("../../fonts/PassionOne-Bold.html") format("truetype");
}

@font-face {
  font-family:"Permanent Marker Regular";
  src:url("../../fonts/PermanentMarker-Regular.html") format("truetype");
}

@font-face {
  font-family:"Raleway Regular";
  src:url("../../fonts/Raleway-Regular.html") format("truetype");
}

@font-face {
  font-family:"Raleway Bold";
  src:url("../../fonts/Raleway-Bold.html") format("truetype");
}

@font-face {
  font-family:"Raleway BoldItalic";
  src:url("../../fonts/Raleway-BoldItalic.html") format("truetype");
}

@font-face {
  font-family:"Raleway Italic";
  src:url("../../fonts/Raleway-Italic.html") format("truetype");
}

@font-face {
  font-family:"Sacramento Regular";
  src:url("../../fonts/Sacramento-Regular.html") format("truetype");
}

@font-face {
  font-family:"Tangerine Regular";
  src:url("../../fonts/Tangerine-Regular.html") format("truetype");
}

@font-face {
  font-family:"Tangerine Bold";
  src:url("../../fonts/Tangerine-Bold.html") format("truetype");
}

@font-face {
  font-family:"Times New Roman Regular";
  src:url("../../fonts/times.html") format("truetype");
}

@font-face {
  font-family:"Arial Italic";
  src:url("../../fonts/Arial-Italic.html") format("truetype");
}

@font-face {
  font-family:"Arial Regular";
  src:url("../../fonts/Arial-Regular.html") format("truetype");
}

@font-face {
  font-family:"Arial BoldItalic";
  src:url("../../fonts/Arial-BoldItalic.html") format("truetype");
}

@font-face {
  font-family:"Shelley Andante Regular";
  src:url("../../fonts/ShelleyAndanteBT.html") format("truetype");
}

@font-face {
  font-family:"Shelley Allegro Regular";
  src:url("../../fonts/ShelleyAllegroBT.html") format("truetype");
}

@font-face {
  font-family:"Times New Roman Bold";
  src:url("../../fonts/timesbd.html") format("truetype");
}

@font-face {
  font-family:"Times New Roman BoldItalic";
  src:url("../../fonts/timesbi.html") format("truetype");
}

@font-face {
  font-family:"Times New Roman Italic";
  src:url("../../fonts/timesi.html") format("truetype");
}